/*清除浮动*/
.clearfix:after,clearfix:before
  content ""
  display table


.clearfix:after
  clear both

.content
  background-color #F2F2F2
  min-height 581px

.content .name
  height 20px
  font-size 16px

.content .main
  padding 20px
  background-color #fff
  position relative
  min-width 726px


.content .main .input-que
  height 32px
  line-height 32px

.content .main .input-que input
  width 190px
  display inline-block;
  margin-left 5px

.content .main .input-que select
  width 170px
  float left
  margin-left 10px

.content .main .input-que button
  margin-left 10px
  min-width 70px


.content .main  .show-que
  padding 10px 10px 10px 2px
  width 100%
  margin 20px auto


.content .main  .show-que table
  width 100%


.content .main  .show-que  .question
  width 30%
  font-size 14px
  font-weight normal

.content .main  .show-que  .type
  width 24%
  font-size 14px
  font-weight normal

.content .main  .show-que  .state
  width 14%
  font-size 14px
  font-weight normal

.content .main  .show-que  .operation
  width 32%
  text-align center
  font-size 14px
  font-weight normal

.content .main  .show-que table thead
  border-bottom #b3b3b3 1px solid
  height 20px

.content .main  .show-que table th
  text-align center
  height 36px

.content .main  .show-que table td
  text-align center
  padding-top 20px


.content .main  .show-que table td:first-child, .content .main  .show-que table th:first-child
  text-align left

.content .main  .show-que table a
  margin-left 20px
  text-decoration none
  cursor pointer
  color #333333

.content .main .show-num
  position absolute
  left 20px
  width 100px
  bottom 14px

.content .main .page
  position absolute
  bottom 8px
  right 20px

.tab_click
  cursor pointer

.tab_click:hover
  text-decoration underline
  color #2ea5f8

.c-green
  color green


.c-red
  color red